.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.aws/
*.pem

*.tfplan

*.zip

node_modules/
__pycache__/
*.pyc

.DS_Store
Thumbs.db